C:\Users\C\Desktop\sf32lb52-nano_a128r16\blink\no-os\project\Kconfig.proj
C:\Users\C\Desktop\sf32lb52-nano_a128r16\blink\no-os\project\build_sf32lb52-nano_a128r16_hcpu\Kconfig
G:\OpenSiFli\SiFli-SDK\Kconfig.v2
G:\OpenSiFli\SiFli-SDK\customer\boards\Kconfig.v2
G:\OpenSiFli\SiFli-SDK\customer\boards\Kconfig_drv
G:\OpenSiFli\SiFli-SDK\customer\boards\Kconfig_lcd
G:\OpenSiFli\SiFli-SDK\customer\boards\Kconfig_lcd_fpga
G:\OpenSiFli\SiFli-SDK\customer\boards\Kconfig_soc
G:\OpenSiFli\SiFli-SDK\customer\boards\sf32lb52-nano_a128r16\Kconfig.board
G:\OpenSiFli\SiFli-SDK\customer\boards\sf32lb52-nano_a128r16\hcpu\Kconfig.board
G:\OpenSiFli\SiFli-SDK\customer\boards\sf32lb52-nano_base\Kconfig.board
G:\OpenSiFli\SiFli-SDK\customer\peripherals\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\audio\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\bluetooth\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\buzzer\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\charger\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\encoder\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\gps\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\motor\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\pa\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\pmic_controller\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\rgb\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\sensor\Kconfig
G:\OpenSiFli\SiFli-SDK\customer\peripherals\vibrator\Kconfig
G:\OpenSiFli\SiFli-SDK\external\CMSIS\Kconfig
G:\OpenSiFli\SiFli-SDK\external\CmBacktrace-v1.3.0\Kconfig
G:\OpenSiFli\SiFli-SDK\external\FlashDB\Kconfig
G:\OpenSiFli\SiFli-SDK\external\Kconfig
G:\OpenSiFli\SiFli-SDK\external\SEGGER_SystemView-master\Kconfig
G:\OpenSiFli\SiFli-SDK\external\WebRTC_audio_processing\Kconfig
G:\OpenSiFli\SiFli-SDK\external\cJSON-1.7.17\Kconfig
G:\OpenSiFli\SiFli-SDK\external\coremark\Kconfig
G:\OpenSiFli\SiFli-SDK\external\easytlv\Kconfig
G:\OpenSiFli\SiFli-SDK\external\ffmpeg\Kconfig
G:\OpenSiFli\SiFli-SDK\external\freetype\Kconfig
G:\OpenSiFli\SiFli-SDK\external\fsck\Kconfig
G:\OpenSiFli\SiFli-SDK\external\jpeg_nano\Kconfig
G:\OpenSiFli\SiFli-SDK\external\libhelix-mp3\Kconfig
G:\OpenSiFli\SiFli-SDK\external\lvgl_v8\Kconfig
G:\OpenSiFli\SiFli-SDK\external\lvgl_v8\Kconfig_v8
G:\OpenSiFli\SiFli-SDK\external\lvgl_v9\Kconfig
G:\OpenSiFli\SiFli-SDK\external\lz4\Kconfig
G:\OpenSiFli\SiFli-SDK\external\mbedtls\Kconfig
G:\OpenSiFli\SiFli-SDK\external\mbedtls_228\Kconfig
G:\OpenSiFli\SiFli-SDK\external\nanopb\Kconfig
G:\OpenSiFli\SiFli-SDK\external\opus-1.4\Kconfig
G:\OpenSiFli\SiFli-SDK\external\quickjs\Kconfig
G:\OpenSiFli\SiFli-SDK\external\rlottie\Kconfig
G:\OpenSiFli\SiFli-SDK\external\rpmsg-lite\Kconfig
G:\OpenSiFli\SiFli-SDK\external\sensor-lib\Kconfig
G:\OpenSiFli\SiFli-SDK\external\state_machine-latest\Kconfig
G:\OpenSiFli\SiFli-SDK\external\tinymp3\Kconfig
G:\OpenSiFli\SiFli-SDK\external\vglite\Kconfig
G:\OpenSiFli\SiFli-SDK\external\webclient\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\audio\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\Kconfig.hw
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.adv
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.iso
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.zbt
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\common\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\mesh\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
G:\OpenSiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\core_dump\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\file_logger\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\lvgl\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\metrics_collector\Kconfig
G:\OpenSiFli\SiFli-SDK\middleware\profiler\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\env\packages\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\env\packages\packages\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\env\packages\packages\iot\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\env\packages\packages\iot\netutils\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\env\packages\packages\misc\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\env\packages\packages\misc\samples\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\cplusplus\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\dfs\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\drivers\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\finsh\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\libc\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\net\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\net\at\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\net\lwip\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\net\netdev\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\net\sal\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\components\utilities\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\libcpu\Kconfig
G:\OpenSiFli\SiFli-SDK\rtos\rtthread\src\Kconfig
