source "$SIFLI_SDK/Kconfig.v2"
source "$SIFLI_SDK/customer/boards/Kconfig.v2"
source "G:/OpenSiFli/SiFli-SDK/customer/boards/sf32lb52-nano_a128r16/hcpu/Kconfig.board"
source "C:/Users/C/Desktop/sf32lb52-nano_a128r16/blink/no-os/project/Kconfig.proj"